* {
  margin: 0;
  padding: 0;
}



/*
font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif;
 Consolas;
 */
/*background-image: url("https://hgwipn3sa-res.cloudinary.com/image/upload/w_auto,dpr_2,f_auto,q_auto,g_auto,c_fill/p3lut26jhxjygozqm2nm.jpg");*/

body {
  max-width: 1000px;
  margin: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  /*height: 150vh;*/
  font-family: 'Montserrat';
  flex-direction: column;
  border: 2px solid green;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border: 2px solid red ;
	
}

.quiz-container {
  flex: 0;
  padding-bottom: 70px;
  border: 2px solid black;
}

.quiz {
    /*position: fixed;
    bottom:0%;
    height: auto;
    z-index: 100;
    margin-bottom: 20px;*/
}
/*.quiz-footer {
  flex-shrink: 0;
}*/

@media (min-width: 451px){
	body {

	}
	.container {
		width: 800px;
		height: 800px;
    	margin: 20%;
	}
}

@media (max-width: 450px){
	body {
		align-content: stretch;
	}
	.quiz-footer {
    	position: fixed;
    	bottom:0%;
    	height: auto;
    	z-index: 100;
    	margin-bottom: 20px;
	}
}

.active-question,
.active-main,
.active-footer {
  display: block;
}

.invisible-question,
.invisible-main,
.invisible-footer {
  display: none;
}

/*.questions-all {
  display: flex;
  flex-flow: row;
}*/

/* см задачу в Трелло ! */
span.questionsText {
margin-left: 150px;
}

/* для элемента input c type="checkbox" */
.checkAnswer {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

/* для элемента label, связанного с .custom-checkbox */
.custom-checkbox>.nameAnswer,
.custom-radio>.nameAnswer {
  display: inline-flex;
  align-items: center;
  user-select: none;
  padding: 12px;
}

/*label в вопросах*/
.custom-checkbox,
.custom-radio {
  font-size: 30px;
  text-align: center;
  padding: 12px;
  display: block;
}



/* создание в label псевдоэлемента before со следующими стилями */
/*.custom-checkbox>span*/
.nameAnswer::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.custom-radio>.nameAnswer::before {
  border-radius: 50%;
}

/* стили при наведении курсора на checkbox */
.checkAnswer:not(:disabled):not(:checked)+.nameAnswer:hover::before {
  border-color: #b3d7ff;
}

/* стили для активного чекбокса (при нажатии на него) */
.checkAnswer:not(:disabled):active+.nameAnswer::before {
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}

/* стили для чекбокса, находящегося в фокусе */
.checkAnswer:focus+.nameAnswer::before {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.checkAnswer:focus:not(:checked)+.nameAnswer::before {
  border-color: #80bdff;
}

/* стили для чекбокса, находящегося в состоянии checked */
.checkAnswer:checked+.nameAnswer::before {
  border-color: #0b76ef;
  background-color: #0b76ef;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

/* стили для радиокнопки, находящейся в состоянии checked */
.custom-radio>.checkAnswer:checked+.nameAnswer::before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}


/* стили для чекбокса, находящегося в состоянии disabled */
.checkAnswer:disabled+.nameAnswer::before {
  background-color: #e9ecef;
}

/* стили при наведении курсора на весь checkbox + label */
.custom-checkbox:not(:disabled):not(:checked):hover,
.custom-radio:not(:disabled):not(:checked):hover {
  border: 2px solid #b3d7ff;
  border-radius: 0.25em;
  /* падинг отвечает за рамку при выделении (нижняя сторона ниже верха, поэтому не семетрично!)*/
  padding: 10px 9px 10px 9px; 
}

a.button8 {
  display: inline-block;
  color: white;
  font-weight: 700;
  text-decoration: none;
  user-select: none;
  padding: .5em 2em;
  outline: none;
  border: 2px solid;
  border-radius: 1px;
  transition: 0.2s;
} 
a.button8:hover { background: rgba(255,255,255,.2); }
a.button8:active { background: white; }


.knopka {
  color: #fff; /* цвет текста */
  text-decoration: none; /* убирать подчёркивание у ссылок */
  user-select: none; /* убирать выделение текста */
  background: rgb(212,75,56); /* фон кнопки */
  padding: .7em 1.5em; /* отступ от текста */
  outline: none; /* убирать контур в Mozilla */
} 
.knopka:hover { background: rgb(232,95,76); } /* при наведении курсора мышки */
.knopka:active { background: rgb(152,15,0); } /* при нажатии */

/*
.c-button {
    -webkit-writing-mode: horizontal-tb !important;
    -webkit-appearance: button;
    border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
    border-style: solid;
    border-width: 1px;
    padding: 1px 7px 2px;
    text-rendering: auto;
    color: initial;
    display: inline-block;
    text-align: start;
    margin: 0em;
    font: 400 11px system-ui;
} */

.c-button {
	/* обнуление стилей
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
    border: 0;
    border-radius: 0;
    background: #ccc;
    */
  /* синяя закругленная */
  min-width: 100px;
  font-family: inherit;
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: #4676d7;
  color: #fff;
  padding: 8px 16px;
  font-size: 1rem;
  cursor: pointer;
}

/* отключенная кнопка*/
.c-button[disabled],
.c-button[disabled]:hover {
  color: #d2d5db;
  background: #6c7589;
  cursor: not-allowed;
}

/*.c-button_disabled,
.c-button_disabled:hover {
  color: #d2d5db;
  background: #6c7589;
  cursor: not-allowed;
}*/


/* при наведении курсора мышки */
.c-button:hover {
  background: #1d49aa;
}
/* при нажатии */
.c-button:focus {
  outline: none;
  box-shadow: 0 0 0 4px #cbd6ee;
}


/*input[type=email]:invalid,
input[type=tel]:invalid {
  /*border: 2px dashed red;
  border-color: #900;
  background-color: #FDD;
  box-shadow: 0 0 5px 1px red;
}*/






/*
.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  padding: 12px;
}

.custom-checkbox+label::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.custom-checkbox:checked+label::before {
  border-color: #0b76ef;
  background-color: #0b76ef;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
*/

/* стили при наведении курсора на весь checkbox + label */
/*.custom-checkbox:not(:disabled):not(:checked)+label:hover {
  border: 2px solid #b3d7ff;
  border-radius: 0.25em;
  padding: 10px;
}*/

/* стили при наведении курсора на checkbox */
/*.custom-checkbox:not(:disabled):not(:checked)+label:hover::before {
  border-color: #b3d7ff;
}*/

/* стили для активного состояния чекбокса (при нажатии на него) */
/*.custom-checkbox:not(:disabled):active+label::before {
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}*/
/* стили для чекбокса, находящегося в фокусе */
/*.custom-checkbox:focus+label::before {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}*/
/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
/*.custom-checkbox:focus:not(:checked)+label::before {
  border-color: #80bdff;
}*/
 /*стили для чекбокса, находящегося в состоянии disabled */
/*.custom-checkbox:disabled+label::before {
  background-color: #e9ecef;
}*/








